data
__pycache__
metadata.json
todo.txt
extract_old.py
.env
archived_data
.mypy_cache
dbt_commands.txt
my_dbt_ext_table.sql
sf_setup.sql
project/transform/logs
relic_link_testing
logs
packages.txt
test_dag_example.py
include
plugins
.venv
astro
.git
airflow_settings.yaml
logs/
airflow.db
airflow.cfg
profiles.yml
.pytest_cache
.astro